<h1>Home page</h1>
<h2>@ViewData["message"]</h2>

@if(ViewData["colorsList"]!=null)
{
    <ul>
    @foreach(var item in (IEnumerable<string>) ViewData["colorsList"])
    {
        <li>
            @item
        </li>
    }
</ul>
}
<ol>
    @foreach(var item in ViewBag.Colors)
    {
        <li>
            @item
        </li>
    }
</ol>

